MONGO_URI=mongodb+srv://<username>:<password>@<cluster-host>/?retryWrites=true&w=majority&appName=<app-name>
HIVEMQ_USERNAME=<hivemq-username>
HIVEMQ_PASSWORD=<hivemq-password>
JWT_SECRET=<strong-random-secret>
JWT_EXPIRES_IN=7d
PORT=4000
SERVER_IP=192.168.1.4
PHONE_IP=http://192.168.1.25:8080
MQTT_BROKER_URL=mqtts://<cluster-id>.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_CLIENT_ID=nodes
MQTT_CLEAN=true
MQTT_RECONNECT_PERIOD_MS=1000
MQTT_CONNECT_TIMEOUT_MS=30000
MQTT_CA_CERT_PATH=./CERT.txt
MQTT_FIRE_ALARM_TOPIC=MQ135/FireAlarm
MQTT_MQ135_STATISTICS_TOPIC=MQ135/Statistics
MQTT_LIGHTS_CONTROL_TOPIC=lights/01/server
MQTT_LIGHTS_RESPONSE_TOPIC=lights/01/button
MQTT_FANS_CONTROL_TOPIC=fans/01/server
MQTT_FANS_RESPONSE_TOPIC=fans/01/button
MQTT_MQ135_PERIOD_TOPIC=MQ135/Period
DEFAULT_FAN_NAME=QUAT_1
DEFAULT_LIGHT_NAME=DEN_PH
TIMEZONE=Asia/Ho_Chi_Minh
AUTO_CHECK_INTERVAL_MS=30000
AUTO_FAN_ON_BAD_AIR=true
AUTO_FAN_CO_THRESHOLD=35
AUTO_FAN_CO2_THRESHOLD=1000
